<html>
<head>
    <title>{{ title['title_number'] }}</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>{{ title['id'] }}</td>
        </tr>
        <tr>
            <td>Title Number</td>
            <td>{{ title['title_number'] }}</td>
        </tr>
        <tr>
            <td>Title Class</td>
            <td>{{ title['title_class'] }}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{ title['content'] }}</td>
        </tr>
    </table>
</body>
</html>